<% if policy(@teams).create? %>
<div class="lg-card">
  <div class="grid-row flex-row flex-align-end">
    <div class="tablet:grid-col-10">
      <h2 class="margin-bottom-05">Create your first team</h2>
      <p class="margin-top-05">Get started with your integration project by creating a team.</p>
    </div>
    <div class="tablet:grid-col-2 text-right">
      <a href="<%= new_team_path %>" class="usa-button usa-button--outline">Continue</a>
    </div>
  </div>
</div>
<% else %>
<p>
  You aren't a part of any teams yet.
</p>
<% end %>
