<% if can_create_teams?(current_user) %>
<div class='lg-card'>
  <div class='grid-row flex-row flex-align-end'>
    <div class='mobile-lg:grid-col-10'>
      <h1 class='margin-bottom-05'>Create your first team</h1>
      <p class='margin-top-05'>Get started with the sandbox environment. Make a team for your integration project.</p>
    </div>
    <div class='mobile-lg:grid-col-2 text-right'>
      <a href="<%= new_team_path %>" class='usa-button usa-button--outline'>Continue</a>
    </div>
  </div>
</div>
<% else %>
<p>
  You aren't a part of any teams yet.
</p>
<% end %>