<h2><label for="team-uuid">Team UUID:</label></h2>
  <div class="text-to-clipboard-wrapper">
    <input type="hidden" class="clipboard-input" id="team-uuid" value="<%= @team.uuid %>"/>
    <span class="font-mono-xs margin-top-0"><%= @team.uuid %></span>
    <button type="button">
      <span class="usa-sr-only">copy UUID to clipboard</span>
      <%# This SVG cpied from the USWDS %>
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img" viewBox="0 0 24 24">
        <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"></path>
      </svg>
    </button>
    <span class="clipboard-message opacity-0 margin-left-1" aria-live="polite">&nbsp;</span>
  </div>
  <%= javascript_include_tag 'text_to_clipboard' %>
  <%= stylesheet_link_tag 'text_to_clipboard' %>
