<h1 class="usa-display">Welcome, <%= current_user.email %></h1>
<div>
  <h2 class='margin-bottom-2'>Teams</h2>
  <% if @teams.count > 0 %>
    <%= render 'teams_list' %>
  <% else %>
  <p>
    You aren't a part of any teams yet.
  </p>
  <% end %>
</div>
<% if current_user.admin? %>
  <%=
    button_to(
      t('headings.teams.new_team'),
      new_team_path,
      method: :get,
      class: "usa-button margin-top-4",
    )
  %>
<% end %>
