<%= page_heading 'My teams' %>
<p class="usa-intro">You are a member of these teams and have access to these configurations.</p>
<div>
  <% if @teams.count > 0 %>
    <%=
      button_to(
          t('headings.teams.new_team'),
          new_team_path,
          method: :get,
          class: "usa-button margin-top-4 margin-bottom-4",
          ) if policy(@teams).create?
    %>
    <%= render 'teams_list' %>
  <% else %>
    <%= render "teams/no_teams" %>
  <% end %>
</div>
