<li class="usa-card feature-card">
  <div class="usa-card__container border-0">
    <div class="usa-card__header">
      <div class="feature-icon">
        <svg class="usa-icon usa-icon--size-3" aria-hidden="true" focusable="false" role="img">
          <use href="/assets/img/sprite.svg#groups"></use>
        </svg>
      </div>
      <h3>Manage user team access</h3>
    </div>
    <div class="usa-card__body">
      <p class="usa-prose">Easily access permissions for your team members.</p>
    </div>
  </div>
</li>
