<aside class="logo-banner grid-container">
  <div class="logo-banner__backdrop">
    <div class="logo-banner__content width-mobile">
      <h2 class="logo-banner__tagline">Become a Partner</h2>
      <p>
        Interested in Login.gov for your federal government applications?
      </p>
      <div>
        <%= link_to 'Learn more',
                    'https://login.gov/partners',
                    class: 'logo-banner__link' %>
        <svg class="usa-icon usa-icon--size-3" aria-hidden="true" focusable="false" role="img">
          <use href="<%= asset_path "sprite.svg#navigate_next" %>"></use>
        </svg>
      </div>
    </div>
  </div>
</aside>
