<%# expected locals: 
  [Array<Symbol|String>] steps
  [Integer] current_step_index such that `steps[current_step_index]` is not null
  [String] localization_base so that `t("#{localization_base}.#{step}")` returns something valid from the i18n yml files
%>
<div class="usa-step-indicator usa-step-indicator--counters-sm">
  <ol class="usa-step-indicator__segments">
    <% steps.each_with_index do |step, index| %>
      <% case index <=> current_step_index %>
      <% when -1 %>
        <li class="usa-step-indicator__segment usa-step-indicator__segment--complete">
          <span class="usa-step-indicator__segment-label"><%= t("#{localization_base}.#{step}") %> <span class="usa-sr-only">completed</span></span>
        </li>
      <% when 0 %>
        <li class="usa-step-indicator__segment usa-step-indicator__segment--current" aria-current="true">
          <span class="usa-step-indicator__segment-label"><%= t("#{localization_base}.#{step}") %></span>
        </li>
      <% when 1 %>
        <li class="usa-step-indicator__segment">
          <span class="usa-step-indicator__segment-label"><%= t("#{localization_base}.#{step}") %> <span class="usa-sr-only">not completed</span></span>
        </li>
      <% end %>
    <% end %>
  </ol>
</div>
