<h2>All Security Events</h2>

<%= render partial: 'table',
           locals: {
             security_events: @security_events,
             show_user: true,
             next_page: @next_page,
             prev_page: @prev_page,
          } %>
