<h2>All Security Events</h2>

<%= form_with url: security_events_search_path,
              method: :post,
              class: "usa-search",
              role: "search" do |form| %>
  <fieldset class="usa-fieldset">
    <%= form.label :email, 'Search by email address', class: 'usa-sr-only' %>
    <%= form.text_field :email,
                        type: 'search',
                        class: 'usa-input usa-input--md usa-search-input--joined-right',
                        value: @user&.email %>
    <button class="usa-button" type="submit">
      <span class="usa-search__submit-text">Search by email address</span>
    </button>
   </fieldset>
<% end %>

<%= render partial: 'table',
           locals: {
             security_events: @security_events,
             show_user: true,
             next_page: @next_page,
             prev_page: @prev_page,
          } %>
