!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env*
/.idea/*
/coverage/*
/db/*.sqlite3
/log/*
/node_modules/*
/public/system
/tags
/tmp/*
.byebug_history

# Ignore application configuration
config/application.yml
