!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env*
/.idea/*
/coverage/*
/db/*.sqlite3
/log/*
/node_modules/*
/public/system
/storage
/tags
/tmp/*
.byebug_history

# Ignore application configuration
config/application.yml

/public/packs
/public/packs-test
/public/assets
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore the idp-config dir if it has been checked out
/identity-idp-config/

/public/assets/*
/app/assets/builds/*
!/app/assets/builds/.keep

# We're not currently checking in YARD docs. We may want revisit this later
/doc/yard
/.yardoc
