<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
  <body>
    <p>A new Identity service provider requires approval:</p>
    <p>
      <%= link_to @service_provider.friendly_name,
                  edit_service_provider_url(@service_provider) %>
    </p>
    <p><strong>PLEASE DO NOT REPLY TO THIS MESSAGE</strong></p>
  </body>
</html>

