<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>You have created a new Identity service provider:</p>
    <p>
      <%= link_to @service_provider.friendly_name,
                  edit_service_provider_url(@service_provider) %>
    </p>
    <p>A message requesting approval has been sent to the site administrators.</p>
    <p><strong>PLEASE DO NOT REPLY TO THIS MESSAGE</strong></p>
  </body>
</html>

