<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Welcome to <%= APP_NAME %>!</p>
    <p><%= link_to APP_NAME, root_url %></p>
    <p><strong>PLEASE DO NOT REPLY TO THIS MESSAGE</strong></p>
  </body>
</html>

