<div class="grid-row grid-gap tablet-lg:margin-2">
  <div class="tablet-lg:grid-col-6 mobile-lg:margin-top-2">
    <%= render(ChartComponent.new(**@reports.usage.chart)) %>
  </div>
  <div class="tablet-lg:grid-col-6 mobile-lg:margin-top-2">
    <%= render(ChartComponent.new(**@reports.idv.chart)) %>
  </div>
</div>
<div class="grid-row grid-gap margin-2">
  <div class="tablet-lg:grid-col-6">
    <div class="data-summary padding-x-1 padding-y-05">
      <p class="data-summary__title">Successful authentications</p>
      <p class="data-summary__number"><%= data_unavailable_or_number_with_delimiter @reports.usage.successful_auths %></p>
      <p class="data-summary__description">Total times users signed in through Login.gov.</p>
    </div>
  </div>
</div>
