<fieldset class="usa-fieldset usa_collection_select">
  <% if @graphs.none? %>
    <p class="margin-bottom-0">Choose from the dropdowns to see a report.</p>
  <% end %>
  <div  class='grid-row grid-gap-2'>
    <%#= form.input :team,
                  wrapper_html: { class: 'tablet:grid-col-4'},
                  input_html: { class: 'usa-select', aria: { invalid: false } },
                  collection: teams_collection_for_select,
                  label: 'Team',
                  label_html: { class: 'usa-input-required' },
                  prompt: '- All Teams-',
                  required: true %>
    <%= form.input :uuid,
                  wrapper_html: { class: 'tablet:grid-col-4'},
                  input_html: { class: 'usa-select', aria: { invalid: false } },
                  collection: service_providers_collection_for_select,
                  label: 'Application',
                  label_html: { class: 'usa-input-required' },
                  prompt: '- All Applications-',
                  required: true %>
    <%= form.input :date,
                  wrapper_html: { class: 'tablet:grid-col-4'},
                  input_html: { class: 'usa-select', aria: { invalid: false } },
                  collection: @dates,
                  label: 'Date of report',
                  label_html: { class: 'usa-input-required' },
                  prompt: '- All Reports-',
                  required: true %>
  </div>
</fieldset>
