<% content_for(:title, 'Analytics dashboard') %>
<h1>Reports</h1>
<p class="usa-prose font-body-lg">Track usage, fraud signals, and more &mdash; Updated weekly</p>
<hr>
<%= simple_form_for(@report, html: { class: '' }) do |form| %>
  <%= form.error_notification %>
  <%= render 'report_selector', form: form %>
  <%= form.button :submit, 'Filter', :class => "usa-button margin-top-3" %>
<% end %>
<h2>Service activity</h2>
<hr>
