<div class="usa-tab">
  <button type="button"
          class="usa-tab__accordion usa-button--unstyled"
          aria-controls="usa-tab-list"
          aria-expanded="false"
  >
    <p class="usa-tab__active"><%= tabs[0][:name] %>
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
        <use href="/assets/img/sprite.svg#expand_more"></use>
      </svg>
    </p>
  </button>
  <ul class="usa-tab__list" id="usa-tab-list">
    <% tabs.each_with_index do |tab, i| %>
      <li class="usa-tab__item <%= 'is-active' if i == 0 %>" role="presentation">
        <a class="usa-tab__anchor" href="#<%= tab[:anchor] %>"><%=
          tab[:name] 
        %></a>
      </li>
    <% end %>
  </ul>
</div>
