<ul class="usa-tab-list">
  <div class="usa-tab-list__small">
    <p class="usa-tab__active">Tab !
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
        <use href="/assets/img/sprite.svg#expand_more"></use>
      </svg>
    </p>
  </div>
  <% tabs.each do |tab| %>
    <li class="usa-tab__item" role="presentation">
      <a class="usa-tab__anchor" href="#<%= tab[:anchor] %>"><%=
        tab[:name] 
      %></a>
    </li>
  <% end %>
</ul>
