<div class='dropdown-desktop-toggle'>
  <button type="button" class="usa-button usa-button--dropdown">
    Add user <span class="caret inline-block ml-tiny" aria-hidden="true">&#9662;</span>
  </button>
  <ul class="desktop-dropdown add-list-reset display-none">
    <li>
      <button
        id='show-add-user-button'
        type="button"
        class="usa-button--unstyled text-no-underline padding-right-1 padding-left-1 padding-bottom-1 padding-top-1 desktop-menu text-bold width-full"
      >
        <span>Add user</span>
      </button>
    </li>
    <li>
      <button
        id='show-bulk-add-button'
        type="button"
        class="usa-button--unstyled text-no-underline padding-right-1 padding-left-1 padding-bottom-1 padding-top-1 desktop-menu text-bold width-full"
      >
        <span>Bulk add</span>
      </button>
    </li>
  </ul>
</div>
