<div id='add-email-form' class='margin-y-2 display-none'>
  <label for='add_email' class='usa-label'>Email</label>
  <input type='text' id='add_email' class='usa-input margin-bottom-2'/>
  <button type='button' class='usa-button usa-button--inverse usa-button'>Add user</button>
  <button type='button' class='usa-button usa-button--outline usa-button'>Cancel</button>
</div>
