<div id='bulk-add-form' class='margin-y-2 display-none'>
  <label for='buld_add' class='usa-label'>Bulk add</label>
  <textarea class='usa-textarea' id='buld_add'></textarea>
  <p class='margin-bottom-1'>Enter multiple email addresses, separated by commas</p>
  <button type='button' class='usa-button usa-button--inverse usa-button'>Add users</button>
  <button type='button' class='usa-button usa-button--outline usa-button'>Cancel</button>
</div>
