= form.error_notification
= form.input :name
= form.input :description
= form.input :metadata_url, label: 'Metadata URL'
= form.input :acs_url, label: 'ACS URL'
= form.input :assertion_consumer_logout_service_url, label: 'Assertion Consumer Logout Service URL'
= form.input :saml_client_cert, label: 'SAML Client Cert (PEM encoded)'
= form.input :block_encryption, as: :radio_buttons, label: 'Block Encryption'
