<%= link_to "Create a new message", new_banner_path, class: 'usa-button'%>
<div id="banners">
  <% if @banners.any? %>
    <% splitBannersByTiming.each_pair do |timing, banners| %>
      <%= render partial: 'table', locals: { timing: timing, banners: banners } %>
    <% end %>
  <% else %>
    <p>No banners found</p>
  <% end %>
</div>
