<%= page_heading 'New banner' %>

<%= render "form", banner: @banner %>

<br>

<div>
  <%= link_to "Cancel and return to banners", banners_path, class: 'usa-button usa-button--outline', role: :button %>
</div>
