html,
body {
  background-color: #112e51;
  height: 100%;
}

body {
  color: #fff;
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  margin: 0;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

h1 {
  line-height: 1.4;
}

p {
  line-height: 1.7;
}

a,
a:focus,
a:hover {
  color: #fff;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.masthead {
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.cover {
  padding: 0 20px;
}
