<h1>Edit group</h1>

<%= simple_form_for(@group, html: { autocomplete: 'off', role: 'form' }) do |form| %>
  <%= form.error_notification %>
  <%= render 'form', form: form, agency_required: false, extra_message: t('headings.groups.temporary_warning_group_user') %>
  <%= form.button :submit, 'Update' %>
<% end %>
