<div class="form-fields">

<% if @user.new_record? %>
  <%= form.input :email,
      label: "<b>Email</b>".html_safe %>
<% end %>

<%= form.input :admin,
    as: :radio_buttons,
    label: "<b>Make admin?</b>".html_safe %>

</div>
