<%# expected locals:
  [Method] form such that form is a valid instance of wizard_form
  [Symbol] db_fieldname such that the database has an associated column
  [Hash] inputs hash where key is the label and value is the input value
%>
<ul class="usa-input-list">
  <%= form.collection_check_boxes(db_fieldname,
                                  inputs,
                                  :last, :first,
                                  item_wrapper_tag: :li) do |b| %>
    <%= b.check_box class: "usa-checkbox__input" %>
    <%= b.label class: "usa-checkbox__label" %>
  <% end %>
</ul>
<% if form.object.errors[db_fieldname].length > 0 %>
  <p class="usa-error-message" role="alert">
    <%= form.object.errors[db_fieldname].to_sentence.presence %>
  </p>
<% end %>
