<%# expected locals:
  [SimpleForm] form the results of the `wizard_form` method
%>
<div class="wizard_footer">
<%= link_to 'Back', previous_wizard_path, class: 'usa-button usa-button--outline' if not first_step? %>
<%= form.submit 'Next', class: 'usa-button' if not last_step?  %>
</div>
