<h2>OpenID Connect (OIDC) requirements</h2>
<%= wizard_form do |form| %>
  <%= form.input :push_notification_url,
                 input_html: { class: 'usa-input' },
                 label: t('simple_form.labels.service_provider.push_notification_url'),
                 hint: t('service_provider_form.push_notification_url') %>
  <%= form.input :redirect_uris,
                 input_html: { class: 'usa-input' },
                 label: t('simple_form.labels.service_provider.redirect_uris_oidc'),
                 hint: t('service_provider_form.oidc_redirects_html') %>
<% end %>
