<h2>OpenID Connect (OIDC) requirements</h2>
<%= wizard_form do |form| %>
  <%= render partial: 'redirects_shared', locals: { form: form } %>
  <%= render partial:'footer', locals: { form: form } %>
<% end %>
