<h1 class="usa-display">Introduction</h1>
<div class="wizard_main">
  <p>This partner portal is where you will manage your Login.gov integrations for testing and production.
  Before you start creating an integration, review our <a href="https://developers.login.gov/" class="usa-link">Developer docs</a> to understand any requirements.
  If you have any questions, reach out to our engineers through the <a href="https://gsa.enterprise.slack.com/archives/CG64NU5C7" class="usa-link">Partner Slack Channel</a> or submit a support ticket through the <a href="https://zendesk.login.gov" class="usa-link">Partner support help desk</a>.</p>
  <h2>Before you start</h2>
  <p>All new configurations or configuration changes must be promoted to production following the <a href="https://developers.login.gov/production" class="usa-link">process outlined in the Login.gov Developer docs</a>. Configurations must be reviewed and approved by the Login.gov Partnerships team. Changes to production apps are not automatic and can take up to two weeks.
  </p>
  <p>Please note that you will need a signed Inter-Agency Agreement with Login.gov in order to go live in production.
  Visit the <a href="https://developers.login.gov/production" class="usa-link">Login.gov Developer docs</a> for more details or email <a href="mailto:partners@login.gov?subject=Beginning%20integration%20questions%20(IAA,%20requirements)" class="usa-link">partners@login.gov</a> with any questions.</p>
</div>
