<h1>Introduction</h1>
<hr />
<p>
This partner portal is where you will manage your Login.gov integrations for testing and production.
Before you start creating an integration, review our Developer docs to understand any requirements.
If you have any questions, reach out to our engineers through the Partners Slack Channel or submit a support ticket through the Partner support help desk.
</p>
<h2>Before you start</h2>
<p>All new configurations or configuration changes must be promoted to production following the process outlined in the Login.gov Developer docs.
Configurations must be reviewed and approved by the Login.gov Partnerships team. Changes to production apps are not automatic and can take up to two weeks.
</p>
<p>
Please note that you will need a signed Inter-Agency Agreement with Login.gov in order to go live in production.
Visit the Login.gov Developer docs for more details or email partners@login.gov with any questions.
</p>
<hr />
