<h1 class="usa-display">Issuer</h1>
<p class="usa-intro">The <a class="usa-link" href="https://developers.login.gov/production/#production-configuration-process">Production configuration process section</a> of the Developer docs has more information about issuer strings.</p>
<div class="wizard_main">
<%= wizard_form do |form| %>
  <%= form.input :issuer,
                 disabled: form.object.persisted?,
                 label: 'Issuer',
                 label_html: { class: 'usa-input-required' },
                 input_html: { class: 'usa-input', aria: { invalid: false } },
                 hint: if form.object.persisted?
                     I18n.t('service_provider_form.change_issuer')
                   else
                     t('service_provider_form.issuer_html')
                   end %>
<% end %>
</div>
