<h1 class="usa-display"><%= t('service_provider_form.wizard_steps.redirects') %></h1>
<div class="wizard_main">
  <%= render partial:'redirects_oidc' %>
  <%= render partial:'redirects_saml' %>
</div>
