<%= page_heading t('service_provider_form.wizard_steps.redirects') %>
<div class="wizard-main">
  <% if show_saml_options? %>
    <%= render partial:'redirects_saml' %>
  <% end %>
  <% if show_oidc_options? %>
    <%= render partial:'redirects_oidc' %>
  <% end %>
</div>
<%= javascript_include_tag 'wizard_redirects_form' %>
