<!-- Reminder: never use user-input for current_item -->
<% item = current_item.class.to_s.downcase %>

<% index_path = controller.send(item.pluralize + '_path') %>
<% edit_path = controller.send('edit_' + item + '_path') %>
<% new_path = controller.send('new_' + item + '_path') %>

<ul>
  <li><%= link_to "Back to #{item.pluralize}", index_path %> 🍇</li>
  <li><%= link_to "Edit this #{item}", edit_path %> ✏️</li>
  <li><%= link_to "New #{item}", new_path %> ➕</li>
</ul>
