<div class="usa-prose">
<% unless user_signed_in? %>
  <p class="usa-intro">Use the dashboard to manage your login.gov test integrations.</p>
  <p>Visit our <a href="https://developers.login.gov">developer documentation</a> to learn more. Interested in login.gov for your federal government applications? Visit <a href="https://login.gov/partners">login.gov/partners</a></p>
<% end %>
</div>
