test: &default
  certificate_expiration_warning_period: '60'
  dashboard_api_token: 'sekret'
  idp_sp_url: 'http://idp.example.com/api/service_provider'
  mailer_domain: 'https://dashboard.login.gov'
  newrelic_license_key: ''
  saml_sp_certificate: |
    -----BEGIN CERTIFICATE-----
    MIIFLjCCAxYCCQD/dXjTvpnD0jANBgkqhkiG9w0BAQsFADBZMQswCQYDVQQGEwJV
    UzETMBEGA1UECBMKV2FzaGluZ3RvbjELMAkGA1UEBxMCREMxDDAKBgNVBAoTAzE4
    RjEaMBgGA1UEAxMRdGVzdC5jZXJ0LjE4Zi5nb3YwHhcNMTYwNTEzMTUyNTE3WhcN
    MjYwNTExMTUyNTE3WjBZMQswCQYDVQQGEwJVUzETMBEGA1UECBMKV2FzaGluZ3Rv
    bjELMAkGA1UEBxMCREMxDDAKBgNVBAoTAzE4RjEaMBgGA1UEAxMRdGVzdC5jZXJ0
    LjE4Zi5nb3YwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQC+mkS5cTDx
    Vgt36ad8/ssFvpO8KJhIlfc73pNdr4WDdnLp7935clx3RfRwjfENanTrotg/i4Oz
    DvLQvODj7GwD1nTozCPAw6wX4JOEbkN8IhnhdvxjePxxYWjZCbmsaLW2US9zBNcY
    +93qbBsSLN99Xw/wIKLGXxxgAGg0QO/706/M7dxGFENK+6a74pGkTEI/Zv82KBbr
    vTDfnkvVfR7TtoKGf9RKrtM/90BaLKpoV0SXMAc6Krw9ltk3DvJ5WKF5Q9KgkG2q
    Q2iGYmZEp1m/0LUd8a1DJUuqWqtm9j+8B69mHfcmf0FftdnlX+qfnQ1aPrBQTpFG
    +N1mj8at+ZCXy+IbyMf8BR+1k9YJeEAUVn/dg7jjVKTepM+IaC7C4rME+L2R+7X0
    1QvMDeJGHMJAmatV8FICKpPBq6F/3Ub86wLqzJNsK4fcpEf3jRwp9FclOGORtpVo
    E0VmGs+fIqP230FT1aRkNvNEfRFWi/9U8hUMvQAXI6jZKt++ScMMeLpqvjR5HrRC
    +d7w9MvJ7XZDu3IRV8gdH7KYwX6xIdqKboCw9wcXn3kREDL6cNqs5l/VN74Qx4yg
    i/aRabwd/d4CTSkq9kpngb5AaVESkd+fCu40+FznkxCE59qKMrjYDFYnuYUmPceH
    9kgYgaD/8ARPkmHnPoXT3bLzlOtTtqqJswIDAQABMA0GCSqGSIb3DQEBCwUAA4IC
    AQCfLLqCR2jQFbvK/KxNbDeDh0EkGC96+/3i6XWFS9EeJcU3/pDYBi5aLTkRcAsN
    31heZ8ThRWN6/ZwsIrhQi0rqp1FB0OvTjMI5u1MTxFL/88ftk7fkll6wTN9HZZcr
    7wVVSa37ULN9HmBaxXFKzBxo+RRDrucD+hk8dUBOlMf3FI+HlDLBYt5bn+TA5rvB
    y5KbEn+ryhCAUf+byghkR/r20bh6WNRw27TvO0ocyMTLXqXpr0YKnT3E2KVjABmE
    WLHFbJRv7WD3MhB+dgJhpIZuDkijsDT7ns/lO7jXdzcpVFZ9C09HlVam8G0L6//0
    5qexSv2xW2/oeJULok2FFOsYdIWgWlhscg5GKHkZ5EZo50AMWTuVFT7vw/SLzus1
    7HgmM03IjSxCr6Kl1rp022x+SBrMLTvHLSRqeM26HvNGGKX7N0R0/xAXJ6oqQPLg
    6YbAQvI7oxdCKZFNUE9ZMhT34F84ZRMwQluzeukiMne1Z/ZZX317cKOEflZiU3mc
    7nZHi2STJiL0mD8A3laPPgegeNmuEnDPYOo+sMgyan8scJR8vUIQEKACnkHNoa8G
    3xQBe08Bt1P/kcAGC3awQUqEnFVx6ORD0QWpPpaWe/0SO4mb2DwyGeBcCI027qVA
    6czR3hR8eGhocSy2VSoSymE2DlBF/Jt5Pwa8SzSHw/5/8g==
    -----END CERTIFICATE-----

  saml_sp_private_key: |
    -----BEGIN RSA PRIVATE KEY-----
    Proc-Type: 4,ENCRYPTED
    DEK-Info: DES-EDE3-CBC,3BBA2AE203104123

    OP57tGYQbWtS7uQaTLRjqp+ZvuSp3eOYqHiakpGh/aLZfOrs751y0Qj51b/QXEdV
    YSRsg7xdm7MIttiYMln23JAU8gBiUGFfDzMC65I+WLDSiHFBVQ7s8aJoU9o4li08
    1/37pQ3Z2aZ0k4oPKr3iQuilFeCdJ8yFJlZ070SRGyI/8ui2T2UPDmVenF8ZTLJ8
    nbADZSntQ+qLa0IAi40ADOpcFtIFkhJgYma1dLwngwJS0tF8xUaxoqA/Fd0WXDmp
    5uuMMmJTF0jhi9XRqe48f9SGNc4yPR32VI7hO9v8eMzoFG1yEwJ7aupIJCzDBuWK
    ZP06uRZQIzrCALz6OY0c171lQQgnHszbjo+hbeaHtuVzLslhQCjzZW4xPaJOU7vr
    77XFk5DkNU/bIPGVCfO4MNM4nP0Jlkz0Q0W9KZMv3uj0rm0/YaQtMb4AkBZ9Dofv
    lR7nH1gQtgJ3/zmeA12Cw1LG8t0f8knLSZpfgYR1pJpk5wiYaOxDxTsL7sxFRj6d
    CMC1QEwLQrBLW15jd03ruFsUl8YejLuYBziZVrZ/8QlJb2aEAuIOTwG2albVSXvU
    Zve/R6jDeL/F5AQQKL9x7YwKg68safZZmI+ICSerl1jLjb7hlis1m0KDTYJD+K4t
    H4cMVOsZBhxzfXmqzTChEj6YrO1QlN7YDpjHpeIYqS6sSdJGDK04h2SGeW84TFEI
    D3yS0rPa9VM9SbXpmcYrtsL5FOODTcoEPu896V3aFXLn6EdbolwwA+Pz43R6ZkZX
    DzB3uHcg0s1H5e3Bv2AWGgNZ0AGMnmbkCXhlxDHaWGvgQVSngmokyJm8/RxeS2Gq
    czIXeO50WsNkuYHoFU0q4lJsM1c3JJunznH5jy7gfP11meJvqv7oNcoPXjXOh0f7
    w2x33egBGHMxhsBEz1wlKVFCLj6790k8Ufj3b5A4inoETgWyYC0GSK9hMQWp31mO
    deFQ7sB24YAgFeCr8nW1oNb65th/ByoLT357HerULlYoLDIJt+l/KIYQtq0y2HEK
    h8OSHn5EIWRE/MbqXubx+pYe5nC5HyEtM/MLE0iYWuUqTdQE5W73hPteaFOP+8W2
    JEXVpD+ExZ4mZmI6quhVtZ2vAa3yEjIGTqQbisXj8Fh8Ot+1u+RD3Nh4+yEwHt/m
    lzQ80uwbegWULiOXoeBwMQVY1AZJ17NGfNXyiPlQpHMDs+5GsXVkCMhQ+CwlhgEy
    8uYesIKurbQIv0VzTZlvBlIvfv31DVskL6i7vf78CKKNAr2PlR5TCWsQGOH7nY7y
    DImdqbHZps73e2xRsf3uyNTZ7gmjtXCm7pkF0sJRpiJpOOQurO6Qz7P9hgPS3Jbh
    HU3ZH/F8LNCT+pcObh6gIF8JF/6asJjO2mhT65kf4zeHbt+HRgg1smYEiWyPDraW
    KnIG040aPpcAo+nEMsET3ryxNFm1WE0fa2/nnnqQy9j7C76uGzNHfWfhnds8VEvV
    vpiz7cpH3L/iRU1p27YzQoDMuEtms4Z2SRJPVDPv0BQ27wWWo4Kch5aPKQ8oQmjr
    7hLzuiiCE0QWZSRAgwI5EUqI469aEXxb3tFOvEfrS5VjuzpJ95PjmJqFPCG5C9Pq
    b7Jv5ZVoWFhuEAR+QJsHclA6hp8DgvE4jERP95f8B6GQac9CDtuR4f3RZE9Bq5xm
    L3OI8q39rIf1SqZ6zT4hibyA+WEljLIeKmHi4kKZqsrcScF2fnleRmNFng+UQ/JA
    HnckucPtAiAD1IiymiFdGwwKs8PKn+u8Bml1z/y9AaV04FICcS0DlPJTTFBb6TEU
    /UXGzRUIKdPrqhLPMgHEjyR54ycyAVq3U61te20QIMxIldML4WQwW0ks2svcoTEZ
    xQ0BdDt0VLop+dIhsHpswQaDdAnl0z7QnqlgCvDXuQsTxWijxWbOmp1Wtwa7TLiF
    TjDLly4rmq10gVwOJLTKGF3nRkY4RhB2fgmG+1LJUgtoUdMonGtraBBKMsubh2Na
    f8JCTbfqpdrhDOnPGdeQBoFetLiqe7Cx2C8S/pgTKbS73NOY2Num7Pp5daWyXYL7
    MYrdFxKP7yV7NCF7XbEfi3BjQlwtHlMk8VrWokAESPbUTuhAbRvPtq2eMgCRl/Ap
    LrzaFw1NSkJ8fon8Wd4fHK4jKLu2lldZ8fDz+Vy8DWK4ONbbxOWVG/kBInqt5Lv6
    cnYFAplZBIsBCV5+RT0bOxvrU2WHecunQ9Q3uNg4+d7ZY7OFIwkNaQHCBjw7TrSt
    wouUGubpeYnT0reCthiF6UJ1e3BK3BLi5MGsI5/qtwZHm7O7mngLEtbrl9cb/kmn
    gtVm9kXYdFiTuFVhkNV/tEIc3ePWC8kPInGOuGoF2QMUqi9Lp7qJxADCeUj0BMP9
    u787SaEhl99MGcHzDme4qM7SJ2K9oAZCfCJ+9OLpkGdKaBuRL4gBo3TcOHNQH20b
    CvB0lE2VnJg2DG32Lx5MEbgZs9H63X0km0cCCW4fu5dMPoZZ/b8j/elK+PBRKiO3
    hOjGiWrQBoNNQu/uz6UbtrtyuvCJDTSiDvq8TEwrp3dtl+7YSNdeHdbfWqdSewt1
    3qaiZ9e+S6zaN7QscuC4f7OsNOLh2SEtE6Xf+yPcyL0pOXj+PiCj+ZgzoEf5AQCw
    whF9VyNHTAsst5ZMIarSi7dKwelYC1lWVMmRFqGxBFkF/dPj+pZIZot323a9/w7Y
    OY1q8IwxBVmVEw3oMOeHlEOpWSNafj5aJsFJm94KX4JoOxLD0QGzROWfQYJ5hnOD
    z0w9VaNMuo0h5fInUvqa8Z5khczq5+8647RBx06JdjvI5bkf8bKllapeykL9QmrH
    aF+pEcBCMG6amVb2jbmsQVnwkBDGvKqDc+JmsAHZ7z/wXjJ/hb5rMvmjq1GZbj0+
    39zeBVhtAf9gofQAJadPkEHqjMxB1RAA56rgx0cnw0AUWAeN10GYwDSvw6fyTGna
    lrfysZawTEtC3sXtfaghYl+zpmkN2HtpuiBQRm3OwYKrrJ6dFgoG6sCVajm1X+eP
    thBmdYeRTGJrJ1PxYSGBJjKg6ksnmUO9ethzG09Fxt460aZfbIZikEIMtiDirqES
    fLCnOrXnlA44sn4sHuoSO7gWZcgvkjB6HL8HShOIO3kwbB0tcl8MX8/P4kyE/OCB
    -----END RSA PRIVATE KEY-----

  saml_sp_private_key_password: 'foobar'
  secret_key_base: 'changeme'
  smtp_address: 'changeme'
  smtp_domain: 'changeme'
  smtp_password: 'changeme'
  smtp_username: 'changeme'

development:
  <<: *default
  idp_sp_url: 'http://localhost:3000/api/service_provider'
  dashboard_api_token: 'test_token'

# The entire application.yml is overwritten in production, so don't set
# anything here.
# production:
