test:
  DASHBOARD_SECRET_KEY_BASE: 'changeme'
  IDP_SLO_URL: 'http://idp.example.com/saml/logout'
  IDP_SP_URL: 'http://idp.example.com/api/service_provider'
  IDP_SSO_URL: 'http://idp.example.com/saml/auth'
  LOGIN_DASHBOARD_TOKEN: 'sekret'
  NEW_RELIC_LICENSE_KEY: 'changeme'
  SMTP_ADDRESS: 'changeme'
  SMTP_DOMAIN: 'changeme'
  SMTP_PASSWORD: 'changeme'
  SMTP_USERNAME: 'changeme'
  SP_NAME: 'changeme'
  SP_PASS: 'changeme'

development:
  DASHBOARD_SECRET_KEY_BASE: 'changeme'
  IDP_SLO_URL: 'http://localhost:3000/saml/logout'
  IDP_SP_URL: 'http://localhost:3000/api/service_provider'
  IDP_SSO_URL: 'http://localhost:3000/api/saml/auth'
  LOGIN_DASHBOARD_TOKEN: 'sekret'
  NEW_RELIC_LICENSE_KEY: 'changeme'
  SMTP_ADDRESS: 'changeme'
  SMTP_DOMAIN: 'changeme'
  SMTP_PASSWORD: 'changeme'
  SMTP_USERNAME: 'changeme'
  SP_NAME: 'changeme'
  SP_NAME: 'changeme'
  SP_PASS: 'changeme'
  SP_PASS: 'changeme'

production:
  DASHBOARD_SECRET_KEY_BASE: 'changeme'
  IDP_SLO_URL: 'changeme'
  IDP_SP_URL: 'changeme'
  IDP_SSO_URL: 'changme'
  LOGIN_DASHBOARD_TOKEN: 'sekret'
  NEW_RELIC_LICENSE_KEY: 'changeme'
  SMTP_ADDRESS: 'changeme'
  SMTP_DOMAIN: 'changeme'
  SMTP_PASSWORD: 'changeme'
  SMTP_USERNAME: 'changeme'
  SP_NAME: 'changeme'
  SP_NAME: 'changeme'
  SP_PASS: 'changeme'
  SP_PASS: 'changeme'
