test:
  dashboard_secret_key_base: 'changeme'
  idp_slo_url: 'http://idp.example.com/saml/logout'
  idp_sp_url: 'http://idp.example.com/api/service_provider'
  idp_sso_url: 'http://idp.example.com/saml/auth'
  login_dashboard_token: 'sekret'
  new_relic_license_key: 'changeme'
  smtp_address: 'changeme'
  smtp_domain: 'changeme'
  smtp_password: 'changeme'
  smtp_username: 'changeme'
  sp_name: 'changeme'
  sp_name: 'changeme'
  sp_pass: 'changeme'
  sp_pass: 'changeme'

development:
  login_dashboard_token: 'sekret'
  dashboard_secret_key_base: 'changeme'
  idp_slo_url: 'changeme'
  idp_sp_url: 'changeme'
  idp_sso_url: 'changeme'
  new_relic_license_key: 'changeme'
  smtp_address: 'changeme'
  smtp_domain: 'changeme'
  smtp_password: 'changeme'
  smtp_username: 'changeme'
  sp_name: 'changeme'
  sp_pass: 'changeme'

production:
  dashboard_log: 'changeme'
  dashboard_secret_key_base: 'changeme'
  idp_slo_url: 'changeme'
  idp_sp_url: 'changeme'
  idp_sso_url: 'changeme'
  login_dashboard_token: 'changeme'
  new_relic_license_key: 'changeme'
  smtp_address: 'changeme'
  smtp_domain: 'changeme'
  smtp_password: 'changeme'
  smtp_username: 'changeme'
  sp_name: 'changeme'
  sp_pass: 'changeme'
