test: &default
  client_id: urn:gov:gsa:openidconnect.profiles:sp:sso:gsa:dashboard
  idp_url: http://localhost:3000
  dashboard_url: http://localhost:3001

development:
  <<: *default

production:
  <<: *default
  client_id: urn:gov:gsa:openidconnect.profiles:sp:sso:gsa:lgpartnerportal
  idp_url: "<%= IdentityConfig.store.idp_url %>"
  dashboard_url: "<%= IdentityConfig.store.saml_sp_issuer %>"
