<% content_for(:title, 'Analytics dashboard') %>
<h1>Analytics Dashboard</h1>
Track usage, fraud signals, and more — updated weekly.
<hr>
<fieldset class="usa_collection_select grid-row border-0">
  <div class="usa-input__container usa-label padding-x-2" style="flex-grow: 1"><label for="name-1">Application</label> <p class="usa-hint"> The name of your application</p><select id="name-1" class="block col-12 required usa-select"><option><%= @friendly_name %></option></select></div>
  <div class="usa-input__container usa-label padding-x-2" style="flex-grow: 1"><label for="name-2">Application</label><p class="usa-hint"> The name of your application</p><select id="name-2" class="block col-12 required usa-select"><option><%= @friendly_name %></option></select></div>
</fieldset>
<h2>Issuer: <code><%= @issuer %> </code> </h2>
<h2>Overview</h2>
<hr>
<%# TODO: update charts based on feedback from UX. %>
<%# These are not charts we actually want. These are charts we can use to detect potential accessibility problems. %>
<h3>Usage</h3>
<% @graph_rows.each do |graph_row| %>
  <div class="grid-row">
    <% graph_row.each do |graph| %>
      <div class="grid-col flex-1" style="width: 35rem"><%= public_send(graph[:type], graph[:data], **graph[:options]) %></div>
    <% end %>
  </div>
<% end %>
