<h1>App <%= @friendly_name %> Analytics Dashboard</h1>
<h2>Issuer: <code><%= @issuer %> </code> </h2>


<div class="dashboard-container">
    <iframe
        width="960"
        height="720"
        src="https://us-west-2.quicksight.aws.amazon.com/sn/embed/share/accounts/487317109730/dashboards/0edede6f-3267-4fd1-8196-5529c2f287a6?directory_alias=login-analytics-sandbox">
    </iframe>
</div>