<% cert = app.certificate %>
<% if cert.not_after < Time.zone.now %>
  <span style='color: white; background: red'>
<% elsif cert.not_after < ServiceProviderCertificate.warning_period %>
  <span style='color: black; background: yellow'>
<% else %>
  <span>
<% end %>
    <%= cert.not_after.to_s %>
  </span>