<% cert = app.certificate %>
<% if cert.not_after < Time.zone.now %>
  <td style='color: white; background: red'>
<% elsif cert.not_after < ServiceProviderCertificate.warning_period %>
  <td style='color: black; background: yellow'>
<% else %>
  <td>
<% end %>
    <% if cert.issuer.to_s == 'Null Certificate' %>
      Invalid
    <% else %>
      <%= cert.not_after.localtime.strftime("%F") %>
    <% end %>
  </td>