<div class="grid-row margin-top-2 usa-alert measure-5 usa-alert--warning">
  <div class="usa-alert__body">
    <p class="usa-alert__text margin-05">
      <%= t('moved_to_prod_html') %>
    </p>
  </div>
</div>
