<p class="font-mono-xs margin-top-0" name="service_provider_yaml">
  Use this YAML in <code>service_providers.yml</code> in the IdP to configure this service provider:
</p>
<pre><code id="yaml"><%= yamlized_sp(@service_provider) %></code></pre>
