<p>Use this YAML in <code>service_providers.yml</code> in the IdP to configure this service provider:</p>
<pre>
  <code>
    <%= yamlized_sp(@service_provider) if current_user.admin? %>
  </code>
</pre>
