<h1 class="usa-display">Deleted Configurations</h1>
<% if @service_providers.blank? %>
  <h2>No configurations deleted in the last 12 months</h2>
<% else %>
  <h2>Configurations deleted in the last 12 months</h2>
  <table id="deleted-apps-table" class="usa-table">
    <caption for="deleted-apps-table">Deleted Configurations</caption>
    <%= render partial: 'deleted_service_provider_table_header' %>
    <tbody>
    <% @service_providers.each do |record| %>
      <%= render partial: 'deleted_service_provider_table_row', locals: { deleted_at: record[:created_at], app: record[:object], deleted_by: record[:whodunnit] } %>
    <% end %>
    </tbody>
  </table>
<% end %>
