<!-- 
Karla Rodriguez
added legend from style guide
-->
<div class="usa-display">New test app</div>



<%= simple_form_for(@service_provider, html: { autocomplete: 'off', role: 'form', class: 'service-provider-form' }) do |form| %>
  <%= render 'form', form: form %>
  <br>
  <!-- 
  Karla Rodriguez
  added style to button
  --> 
  <%= form.button :submit, 'Create test app', :class => "usa-button" %>
<% end %>
