<h2>New test app</h2>

<%= simple_form_for(@service_provider, html: { autocomplete: 'off', role: 'form' }) do |form| %>
  <%= render 'form', form: form %>
  <br>
  <%= form.button :submit, 'Create test app' %>
<% end %>
