<% content_for(:title, 'Welcome') %>
<div class="usa-prose usa-content">
  <div class="margin-bottom-3 border-bottom-1px border-base-lighter">
    <h1><%= t('headings.welcome') %></h1>
  </div>
  <p>The Partner Portal is your hub for managing your teams and your Login.gov integrations for testing and production. Review our <a class="usa-link" href="/documentation">developer documentation</a> for more details. 

  <ol>
    <li>View and manage your team on the <a class="usa-link" href="/teams">My teams</a> page. An Admin must first create a team, and add members, before an application is configured.</li>
    <li>Create a configuration in the sandbox environment and test your integration. Review our <a class="usa-link" href="#home-register-checklist-accordion">checklist</a> to make sure you have all the necessary information.</li>
    <li>Once your sandbox configuration is ready, create a new production configuration and request a promotion to production. You must have a signed Inter-Agency Agreement (IAA) to go live.</li>
  </ol>
  <div class="margin-top-6 margin-bottom-3 padding-bottom-6 maxw-tablet border-bottom-1px border-base-lighter">
    <%= link_to t('headings.service_providers.index'), service_providers_path, class: 'usa-button margin-bottom-1' %>
    <%= link_to t('headings.teams.index'), teams_path, class: 'usa-button usa-button--outline' %>
  </div>

  <div id="home-register-checklist-accordion" class="usa-accordion usa-accordion__heading usa-accordion--bordered margin-bottom-3 maxw-tablet">
    <button class="usa-accordion__button padding-y-1" aria-expanded="false" aria-controls="home-register-checklist">
      <h2 class="font-body-md text-normal line-height-sans-1">Information you need to register your configuration</h2>
    </button>
    <div id="home-register-checklist" class="usa-accordion__content">
      <ul class="usa-list list-style-checkbox">
        <li>Inter-agency agreement application name</li>
        <li>Public-face, friendly application name</li>
        <li>Implementation protocols (SAML or Open ID Connect)</li>
        <li>Service level as either Authentication only or Identity Verification</li>
        <li>Data you need to keep and collect and other <a class="usa-link" href="/documentation?destination=attributes">user attributes</a></li>
        <li><a class="usa-link usa-link--external" href="/documentation?destination=oidc/authorization/#aal_values">Authentication assurance</a> levels</li>
        <li>Agency logo file</li>
        <li>A public/private key pair and the <a class="usa-link usa-link--external" href="/documentation?destination=testing/#creating-a-public-certificate">public certificate</a> to validate your website and application’s authenticity</li>
        <li>Content for the “sign up”, “sign in”, and “forgot password” language if you do not want to use the pre-selected options. Custom “Help” text is optional.</li>
      </ul>
    </div>

  </div>
  <p>If you have any questions, submit a support ticket through the <a class="usa-link" href="https://zendesk.login.gov/">partner support help desk</a>.</p>
</div>
<%= javascript_include_tag 'anchor_accordion' %>
