<h1 class="usa-display">Hello</h1>
<% if allowlisted_user?(current_user) %>
  <p class='usa-intro'>Access your existing testing and production apps, create new apps, and manage teams with this portal.</p>
<% elsif current_user.logingov_admin? %>
  <p class='usa-intro'>Let's help our Partners integrate apps with Login.gov</p>
<% end %>

<% if @teams.count > 0 %>
  <%=
    button_to(
        t('headings.teams.new_team'),
        new_team_path,
        method: :get,
        class: "usa-button margin-top-4 margin-bottom-4",
        ) if allowlisted_user?(current_user)
  %>
  <h1 class='margin-bottom-3'>My teams</h1>
  <p class='usa-intro'>You are a member of these teams and have access to these apps.</p>
  <%= render 'teams/teams_list' %>
<% else %>
  <%= render "teams/no_teams" %>
<% end %>
