= form.error_notification

- if current_user.admin?
  = form.input :approved, as: :radio_buttons

= form.input :friendly_name
= form.input :description
= form.input :issuer
= form.association :agency
= form.input :acs_url, label: 'Assertion Consumer Service URL'
= form.input :assertion_consumer_logout_service_url, label: 'Assertion Consumer Logout Service URL'
= form.input :sp_initiated_login_url, label: 'SP Initiated Login URL'
= form.input :block_encryption, as: :radio_buttons, label: 'Block Encryption'
= form.input :saml_client_cert, label: 'SAML Client Cert (PEM encoded)'
= form.input :return_to_sp_url, label: 'Return to SP URL'

p
  b Attribute Bundle

= form.input :active, as: :radio_buttons
