.btn-block {
  display: block;
  width: 100%;
}

.wrapper.actions form {
  float: left;
  display: inline;
}

.alert button.close {
  margin-top: 0;
  border: 1px solid #aaa;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
