.btn-block {
  display: block;
  width: 100%;
}

.wrapper.actions form, .wrapper.actions .action {
  float: left;
  display: inline;
}

.wrapper.actions .action a {
  margin-top: 2.5rem;
  margin-bottom: 1.5em;
}

.alert button.close {
  margin-top: 0;
  border: 1px solid #aaa;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
