<div class="modal fade" id="session_timeout_warning" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t('headings.session_timeout_warning') %></h4>
      </div>
      <div class="modal-body">
        <p><%= t('session_timeout_warning',
          time_left_in_session: time_left_in_session,
          continue_text: t('forms.buttons.continue_browsing')) %></p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default continue_session" data-dismiss="modal" type="button">
          <%= t('forms.buttons.continue_browsing') %>
        </button>
        <div id="fake" tabindex="0"></div>
      </div>
    </div>
  </div>
</div>
