#session_timeout_warning.modal.fade tabindex='-1' role='dialog' aria-hidden='true'
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title = t('headings.session_timeout_warning')
      .modal-body
        p
          = t('session_timeout_warning',
            time_left_in_session: time_left_in_session,
            continue_text: t('forms.buttons.continue_browsing'))
      .modal-footer
        button.btn.btn-default.continue_session[type='button' data-dismiss='modal']
          = t('forms.buttons.continue_browsing')
        #fake tabindex='0'
