@use 'uswds-core' as *;

@mixin flip {
  transform: rotate(180deg);
};

@mixin reset-outline-offset {
  outline-offset: 0;
}

.usa-tab {
  @include u-margin-y(2);

  &__active {
    @include u-margin(0);
  }

  ul {
    @include add-list-reset;
  }

  &__list {
    @include u-display('none');
    @include u-flex('column', 'align-start');
    @include add-list-reset;
    @include u-margin(0, 0, 0, '1rem');
    @include u-border('1px', 'solid', 'primary-light');
    @include u-radius('05');

    @include at-media('tablet') {
      @include u-display('block');
      @include u-flex('row');
      @include u-margin-left(0);
      @include u-border('1px', 0, 0);
    }
  }

  &__item {
    @include u-padding-x(2);
    @include u-text('left');
    @include u-bg('primary-lighter');

    @include at-media('tablet') {
      @include u-display('inline-block');
      @include u-padding-x(0);
      @include u-text('center');
      @include u-bg('transparent');

      &.is-active {
        @include u-flex('align-self-stretch');
      }
    }
  }

  @mixin active-after {
    content: '';
    @include u-display('block');
    @include u-position('absolute');
    @include u-bottom(0);
    @include u-left(0);
    @include u-width('full');
  }
  @mixin active-after-underline {
    @include u-border-bottom('05', 'solid', 'secondary');
  }

  &__accordion:hover:after,
  &__accordion:focus:after {
    @include active-after;
  }

  &__item .usa-tab__anchor:hover:after,
  &__item .usa-tab__anchor:focus:after {
    @include active-after;
    @include active-after-underline;
  }

  &__item.is-active .usa-tab__anchor:after {
    @include at-media('tablet') {
      @include active-after;
      @include active-after-underline;
    }
  }

  &__accordion:hover + .usa-tab__list,
  &__accordion:focus + .usa-tab__list,
  &__list:hover,
  &__list:focus {
    @include at-media-max('tablet') {
      @include u-display('inline-flex');
      @include u-position('relative');
      @include u-z(200);
      @include u-margin-top('neg-05');
      @include u-margin-left(2);
    }
  }

  &__accordion,
  &__anchor {
    @include u-width('full');
    @include u-minw(15);
    @include u-padding(2, 0, 105);
    @include u-font('sans', 7);
    @include u-text('no-underline', 'primary-dark');

    @include at-media('tablet') {
      @include u-width('auto');
      @include u-bg('transparent');

      &:focus, &:hover {
        @include u-bg('primary-lighter'); 
      }
    }

    &:focus {
      @include u-outline('2px', 'primary');
      @include reset-outline-offset;
    }
  }
  button.usa-tab__accordion:focus {
    @include reset-outline-offset;
  }

  &__accordion {
    @include u-position('relative');
    @include u-padding-left(4);
    @include u-border-bottom('05', 'solid', 'secondary');
    @include u-text(700, 'left');

    @include at-media('tablet') {
      @include u-display('none');
    }

    &:hover {
      @include u-text('no-underline')
    }

    &:focus, &:hover {
      .usa-icon {
        @include flip;
      }
    }

    & .usa-icon {
      @include u-text('bottom');
    }
  }

  &__anchor {
    @include u-display('block');
    @include u-position('relative');
    @include u-bg('primary-lighter');

    @include at-media('tablet') {
      @include u-text(700);
      @include u-bg('transparent');
    }
  }
}
