$font-path: '/fonts';
$image-path: '';

@import 'identity-style-guide/dist/assets/scss/styles';

@mixin text-wrap-mixin {
  word-break: break-all;
}

.text-wrap {
  @include text-wrap-mixin;
}

.input-file {
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: .1px;
  z-index: -1;
}

.file-input-button {
  float: left;
}

.input-preview {
  float: left;
  margin-top: 1.5rem;
  padding: 9px 20px;
}

.lg-card {
  h2 {
    margin-top: 0;
  }
}

.usa-label {
  color: map-get($site-palette, 'site-dark-grey');
}

.usa-alertx {
  margin-bottom: 1em;
}

.actions {
  display: flex;
  flex-wrap: wrap;

  form {
    margin-bottom: 1em;
  }
}

.users {
  overflow-x: auto;

  .usa-table {
    margin-top: 0;
  }
}

@media only screen and (max-width: 375px) {
  .usa-navbar .usa-logo {
    a {
      width: 148px;
    }
  }

  .actions {
    form {
      flex-grow: 1;
    }
  }
}

.certificate-expired,
.usa-table td.certificate-expired {
  background: $theme-color-secondary;
  color: $theme-color-base-lightest;
}

.certificate-warning,
.usa-table td.certificate-warning {
  background: $theme-color-warning;
  color: $theme-color-base-ink;
}

.bold-definition {
  dt {
    font-weight: bold;
  }

  dd {
    margin: 0;
  }
}

.border-underline {
  border-bottom: 1px solid $theme-color-base-lighter;
  width: 100%;
}

.spaced-definition {
  dd {
    padding-bottom: .5rem;
  }
}

.compact-definition {
  margin-bottom: 0;
  margin-top: 0;

  dt {
    display: inline;
    font-weight: bold;
  }

  dd {
    display: inline;
    margin: 0;
  }

  dd::after {
    content: '';
    display: block;
  }
}
