@use 'uswds-core' as *;

@forward 'logo_banner';

.usa-button svg {
  vertical-align: top;
  margin-left: 0.2em;
}

.site-hero form {
  display: inline-block;
  margin-bottom: units(2);
}

.usa-alert__text a {
  @include u-text('primary');

  &:hover {
    @include u-text('primary-dark');
  }
}
.usa-section--dark {
  .usa-alert__text {
    @include u-text('ink');
  }

  .usa-button--inverse {
    background-color: transparent;
    border: 1px solid;
  }
}

.usa-card-group {
  justify-content: center;
}
.usa-card {
  min-width: 260px;
}

.usa-card__header {
  .usa-icon {
    vertical-align: middle;
    margin-right: 0.6em;
    fill: $theme-color-primary;
  }

  h3 {
    margin-block-start: 0;
  }
}

.footer {
  background-color: $theme-color-primary-lighter;
}

.system-status {
  @include u-border-top(1px, 'primary-light');
  @include u-padding-top(2);
  @include u-margin-top(1);
  display: flex;
  align-items: center;

  @include at-media('tablet') {
    border-top: none;
  }

  &::before {
    content: '';
    width: units(3);
    height: units(3);
    display: inline-block;
    vertical-align: middle;
    margin-right: units(1);
    background: url(icon-system-status.svg) left center no-repeat;
  }
}
