@forward 'logo_banner';

.usa-button svg {
  vertical-align: top;
  margin-left: 0.2em;
}

.site-hero form {
  display: inline-block;
  margin-bottom: units(2);
}

#main-content {
  padding-top: 0;
}

.usa-section--dark .usa-button--inverse {
  background-color: transparent;
  border: 1px solid;
}

.usa-card-group {
  justify-content: center;
}
.usa-card {
  min-width: 260px;
}

.usa-card__header {
  .usa-icon {
    vertical-align: middle;
    margin-right: 0.6em;
    fill: $theme-color-primary;
  }

  h3 {
    margin-block-start: 0;
  }
}


