@use 'uswds-core' as *;

.report-section__title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid $theme-color-primary-light;

  & > h2 {
    margin-right: 2rem;
  }

  & > button {
    max-width: max-content;
  }
}


.data-summary {
  outline: 1px solid $theme-color-primary-light;
  border-radius: 4px;

  &__title {
    @include u-font('mono', 'xs');
    @include u-text('uppercase');
  }

  &__number {
    @include u-font('sans', 'xl');
    @include u-text(700);
    margin: 0;
  }

  &__description {
    margin: 0.5rem 0 1rem;
  }
}

.data-graph--container {
  padding: 1rem 1rem;
  outline: 1px solid $theme-color-primary-light;
  border-radius: 4px;
}


.data-graph {
  &__title {
    @include u-text('uppercase');
  }

  &__headline {
    @include u-text(700);
  }
}
