@use 'uswds-core' as *;

.wizard_container {
  p:last-of-type {
    margin-bottom: 0;
  }

  .wizard_main {
    padding-bottom: 1.5rem;
    margin: 1.5rem 0;
    border-style: solid;
    border: {
      width: 1px 0;
      color: $theme-color-primary-light;
    }
  }

  .mb2 {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;

    .usa-label-group,
    .usa-input-container {
      flex: 0 0 46.25%;
    }
    .usa-label {
      margin-top: unset;
    }
    .usa-hint {
    }
  }
  fieldset.mb2 {
    padding: 0;
    border: none;
  }

  .usa-checkbox__label {
    margin-top: 0;
  }

  .service_provider_return_to_sp_url {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid $theme-color-primary-light;
  }
}
