@use 'uswds-core' as *;

.wizard_container {
  .wizard_main {
    padding-bottom: 24px;
    margin: 24px 0;
    border-style: solid;
    border: {
      width: 1px 0;
      color: $theme-color-primary-light;
    }
  }

  .mb2 {
    display: flex;
    margin-top: 1.5rem;

    .usa-label-group {
      flex: 0 0 50%;
    }
    .usa-label {
      margin-top: unset;
    }
    .usa-hint {
    }
    input, textarea, select {
      flex: 0 0 50%;
    }
  }
}
