<%= page_heading 'New auth token' %>

<h1>New auth token</h1>

<%= render "form", auth_token: @auth_token %>

<div class="margin-top-2">
  <%= link_to "Back to auth tokens", auth_tokens_path, class: 'usa-button usa-button--outline' %>
</div>
