
<h1>Login-Wide Reporting Dashboard</h1>
<p>Root path: "<%= request.base_url %>"</p>

<div id="app" data-base-url="<%= request.base_url %>"></div>

<%= javascript_include_tag 'reports', type: 'module', defer: true, 'data-turbo-track': 'reload' %>