
<div class="usa-identifier padding-top-2">
  <div class="usa-identifier__container footer__signed-in">
    <a href="https://www.gsa.gov" class="footer__agency-logo usa-link--external" target="_blank" rel="noopener noreferrer">
      <img src="<%= asset_path 'gsa-logo_home.svg' %>"
           class="margin-right-05"
           width="20" height="20"
           alt="" aria-hidden="true">
      US General Services Administration
    </a>
    <div class="footer__links">
      <a href="/documentation" class="footer__agency-logo usa-link--external" target="_blank" rel="noopener noreferrer">Developer Guide</a>
      <a href="/documentation?destination=support/#contacting-partner-support" class="footer__agency-logo usa-link--external" target="_blank" rel="noopener noreferrer">Contact</a>
      <a href="https://www.login.gov/policy/" class="footer__agency-logo usa-link--external" target="_blank" rel="noopener noreferrer">Privacy &amp; security</a>
      <a href="https://www.login.gov/accessibility/" class="footer__agency-logo usa-link--external" target="_blank" rel="noopener noreferrer">Accessibility statement</a>
    </div>
  </div>
</div>
