<footer class="footer">
  <% if user_signed_in? %>
    <div class="usa-footer__return-to-top">
      <div class="grid-container">
        <a href="#">Return to top</a>
      </div>
    </div>
  <% end %>
  <%= render 'layouts/footer_navigation' %>
  <%= render rendered_layout %>
</footer>
