<div class="footer-navigation grid-container grid-row padding-y-3">
  <div class="footer-navigation__section grid-col-12 tablet:grid-col-auto margin-y-3">
    <img
      src="<%= asset_path 'logo.svg' %>"
      alt="Login.gov logo"
      width="191"
      height="27"
>
  </div>
  <div class="grid-col-fill"></div>
  <div class="grid-col-12 tablet:grid-col-auto">
    <div class="system-status">
      <a class="usa-link font-body-2xs" href="https://status.login.gov"><%= t('footer.status') %></a>
    </div>
  </div>
</div>
