<% unless flash.empty? %>
  <div class="margin-bottom-2">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <% alert_name = name == 'notice' ? 'info' : name %>
        <div class="usa-alert measure-3 usa-alert--<%= alert_name %>" >
          <div class="usa-alert__body">
            <p class="usa-alert__text"><%= sanitize(msg) %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
