<% content_for :content do %>
  <div>
    <%= render partial: 'components/step_progress',
          locals: {
            steps: ServiceConfigWizardController::STEPS,
            current_step_index: ServiceConfigWizardController::STEPS.find_index(step),
            localization_base: 'service_provider_form.wizard_steps'
          }
    %>
  </div>
  <section class="wizard_container">
    <%= yield %>
  </section>
  <%= render partial:'footer' %>
<% end %>
<%= render template: "layouts/application" %>
